body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-image: 
        
        url('assets/background_presentes.PNG'); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center center;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    padding-bottom: 40px;
}

.main-content {
    width: 70%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.641);
    text-align: center;

    display: flex;         
    flex-direction: column; 
    align-items: center;   

    position: relative; 
    z-index: 1; 
}

@media (max-width: 768px) {
    body {
        padding-bottom: 60px; /* Aumenta o padding inferior no celular para o footer */
    }

    .main-content {
        width: 90%; /* O main-content ocupa mais largura da tela no celular */
        max-width: none; /* Remove a largura máxima para se adaptar à tela */
        padding: 15px; /* Reduz o padding para ocupar menos espaço */
    }

    .header-banner img {
        width: 100%; /* A imagem ocupa toda a largura no celular */
    }

    .input-wrapper {
        flex-direction: column; /* Os inputs ficam um embaixo do outro no celular */
        align-items: center; /* Centraliza os itens */
    }

    .input-name {
        width: 100%; /* Os inputs ocupam toda a largura disponível */
        margin-bottom: 10px; /* Adiciona um espaço entre os inputs */
    }

    .footer {
        font-size: 0.7em; /* Diminui o tamanho da fonte no footer */
    }
}

.main-title {
    font-size: 3em; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-banner img {
    width: 400px;
    margin: 10px 0;
}
.input-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    
    
}

.input-name {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: rgba(192, 191, 191, 0.8); 
    color: #333; 
    outline: none;
    font-size: 16px; 
}

.input-name::placeholder {
    color: #ffffff; 
    text-shadow: #000000;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-add, .button-draw {
    background: #4f46e5;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.button-add:hover, .button-draw:hover {
    background: #6366f1;
}

.button-draw {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #4f46e5;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

.button-draw:hover {
    background: #6366f1;
}

.button-draw img {
    width: 20px;
}

.name-list {
    text-shadow: #604444b4;
    list-style: none;
    padding: 0;
    margin-top: 15px;
    max-height: 250px; 
    overflow-y: auto;
    justify-content: center; 
    
}

.name-list li, .result-list li {
    display: flex;
    background: rgba(255, 255, 255, 0.3); 
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    justify-content: center; 
    color: #4e46e5e1; 
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    font-weight: bold; 
    font-size: 22px;
}



.result-list li {
    display: flex;
    background: rgba(212, 212, 212, 0.2); 
    padding: 15px; 
    border-radius: 15px; 
    margin-top: 10px; 
    font-size: 1.2em;
    color: #ffffff; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    justify-content: center;
    
}

.resultado-mensagem {
    color: rgb(18, 216, 18);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.511);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.895); 
}

.button-reset {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #e63946;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    margin-left: 10px;
}

.button-reset:hover {
    background: #33fb2d;
}


.button-download {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    margin-left: 10px; 
}

.button-download:hover {
    background: #3cb371; 
}



.button-remover {
    background: none; 
    border: none;
    color: #ff6347;  
    cursor: pointer;
    font-size: 1em; 
    margin-left: 8px; 
    padding: 0; 
}

.button-remover:hover {
    color: #dc143c; 
}



.custom-alert {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    align-items: center;
    justify-content: center;
}

.custom-alert-content {
    background-color: #4f46e5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #4f46e5;
    text-align: center;
}

.custom-alert-content p {
    margin-bottom: 15px;
}

.custom-alert-content button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    text-align: center;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.8em;
    backdrop-filter: blur(20px);
    z-index: 100; 
}

.rvnotification {
    display: none !important;
}

.rvnotification.customized {
    display: flex !important; 
    background-color: #f0f8ff !important; 
    color: #000 !important; 
    border: none !important; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important; 
    padding: 10px !important; 
    border-radius: 5px !important; 
    justify-content: center !important;
    align-items: center !important; 
    flex-direction: column !important; 
    position: fixed !important; 
    top: 10px !important; 
    left: 50% !important; 
    transform: translateX(-50%) !important; 
}

.rvnotification .rvtext {
    font-size: 1em !important;
    font-weight: bold !important;
    text-align: center !important;
}

.rvnotification .custom-rv-button {
    background-color: #4CAF50 !important; 
    color: white !important;
    border: none !important;
    padding: 0.5em 1em !important;
    margin: 0.5em !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    font-size: 1em !important;
}

.rvnotification .custom-rv-button.deny {
    background-color: #f44336 !important; 
}


.rvnotification .rvallow,
.rvnotification .rvdeny {
    display: none !important;
}


.button-verificar {
    background: #28a745; 
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    margin-top: 5px; 
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.button-verificar:hover {
    background: #3cb371; 
}

.section-title {
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 

}

