body {
    background: linear-gradient(to bottom, #5e5e5e, #090a0b); /* Gradiente do cinza para o azul */
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-content {
    width: 70%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.1); /* Transparente */
    backdrop-filter: blur(10px); /* Aumenta o efeito de blur */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(250, 250, 250, 0.641);
    text-align: center;
}

.main-title {
    font-size: 3em; /* Aumenta o tamanho da fonte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra */
}

.header-banner img {
    width: 400px;
    margin: 10px 0;
}
.input-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.input-name {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-add, .button-draw {
    background: #4f46e5;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.button-add:hover, .button-draw:hover {
    background: #6366f1;
}

.button-draw {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #4f46e5;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

.button-draw:hover {
    background: #6366f1;
}

.button-draw img {
    width: 20px;
}
.name-list, .result-list {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}
.name-list li, .result-list li {
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
}

.result-list li {
    display: flex;
    background: rgba(212, 212, 212, 0.2); /* Fundo transparente */
    padding: 15px; /* Aumenta o preenchimento */
    border-radius: 15px; /* Arredonda as bordas */
    margin-top: 10px; /* Aumenta o espaçamento entre os itens */
    font-size: 1.2em; /* Aumenta o tamanho da fonte */
    color: #ffffff; /* Define a cor do texto */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao texto */
    justify-content: center; /* Centraliza o texto horizontalmente */
}

.resultado-mensagem {
    color: rgb(18, 216, 18);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.button-reset {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #e63946;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    margin-left: 10px;
}

.button-reset:hover {
    background: #33fb2d;
}

/* Estilo para o botão "Baixar Lista" */
.button-download {
    background: #28a745; /* Cor de sucesso/download */
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    margin-left: 10px; /* Espaçamento entre botões */
}

.button-download:hover {
    background: #3cb371; /* Cor mais clara no hover */
}


/* Estilo para o botão de remoção */
.button-remover {
    background: none; /* Fundo transparente */
    border: none; /* Sem borda */
    color: #ff6347; /* Cor vermelha */
    cursor: pointer; /* Cursor de mãozinha */
    font-size: 1em; /* Tamanho da fonte */
    margin-left: 8px; /* Espaçamento à esquerda */
    padding: 0; /* Sem preenchimento */
}

.button-remover:hover {
    color: #dc143c; /* Vermelho mais escuro no hover */
}


/* Estilos para o modal personalizado */
.custom-alert {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    z-index: 1000; /* Garante que fique acima de outros elementos */
    align-items: center;
    justify-content: center;
}

.custom-alert-content {
    background-color: #4f46e5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #4f46e5;
    text-align: center;
}

.custom-alert-content p {
    margin-bottom: 15px;
}

.custom-alert-content button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para o rodapé */
.footer {
    text-align: center;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Fundo transparente */
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.8em;
    backdrop-filter: blur(20px); /* Aumenta o desfoque para um efeito de vidro mais forte */
}

/* Oculta a notificação inicialmente */
.rvnotification {
    display: none !important;
}

/* Estilos para a notificação do responsiveVoice */
.rvnotification.customized {
    display: flex !important; /* Exibe a notificação personalizada */
    background-color: #f0f8ff !important; /* Cor da caixa de alerta */
    color: #000 !important; /* Cor do texto */
    border: none !important; /* Remove a borda */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important; /* Adiciona uma sombra */
    padding: 10px !important; /* Adiciona um preenchimento */
    border-radius: 5px !important; /* Adiciona um raio de borda */
    justify-content: center !important; /* Centraliza o conteúdo */
    align-items: center !important; /* Alinha os itens verticalmente */
    flex-direction: column !important; /* Coloca os itens em coluna */
    position: fixed !important; /* Fixa a posição */
    top: 10px !important; /* Distância do topo */
    left: 50% !important; /* Centraliza horizontalmente */
    transform: translateX(-50%) !important; /* Ajusta o posicionamento */
}

.rvnotification .rvtext {
    font-size: 1em !important;
    font-weight: bold !important;
    text-align: center !important;
}

.rvnotification .custom-rv-button {
    background-color: #4CAF50 !important; /* Cor verde para os botões */
    color: white !important;
    border: none !important;
    padding: 0.5em 1em !important;
    margin: 0.5em !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    font-size: 1em !important;
}

.rvnotification .custom-rv-button.deny {
    background-color: #f44336 !important; /* Cor vermelha para o botão "Não" */
}

/* Estilos para ocultar os botões padrão */
.rvnotification .rvallow,
.rvnotification .rvdeny {
    display: none !important;
}


.button-verificar {
    background: #28a745; /* Cor de sucesso/download */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    margin-top: 5px; /* Espaçamento entre botões */
}

.button-verificar:hover {
    background: #3cb371; /* Cor mais clara no hover */
}